<!DOCTYPE html>
{% load blog_tags %}
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/blog.css" %}">
    <meta charset="UTF-8">
    <title>{% block title_block %} {% endblock %}</title>
</head>
<body>
<div class="content">
{% block content %}{% endblock %}
</div>
<div class="sidebar">
    <h2>SURESH BLOG</h2>
    <p>Here you can see python updations.....</p>
    <h2>the total number of published posts upto today: {% total_posts %}</h2>
    <h4>Latest posts:</h4>{%show_latest_posts%}
    <h4>Most commented posts:</h4>

    <ul>
        {% for post in get_most_commented_posts %}
        <li><a href="{{post.get_absolute_url}}">{{post.title}}</a> </li>
        {% endfor %}
    </ul>


</div>


</body>
</html>


